<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <ngx-ui-loader></ngx-ui-loader> -->

<!-- <app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-signup></app-signup>
<app-login></app-login>
<app-cakelist></app-cakelist> -->


<!-- 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
to get all the cakes        DONE
url - /allcakes
method - get

to get cake details         DONE
url - /cake/cakeid
method - get

to get search results -     DONE
url --- /searchcakes?q=searchtext
method -- get

Registration                DONE
url --  /register
method -- post
body - {email,name,password}

Login                       DONE
URL - -- /login
method-- post
body - {email,password}

FORgot password     
url - /recoverpassword
method - post
body - {email}

Addcaketo cart              DONE
url - /addcaketocart
method:post
body - {name,cakeid,price,image,weight}

For increasing quantity     DONE
url - /addcaketocart
method:post
body - {name,cakeid,price,image,weight}

For remove from cart        DONE
url - /removecakefromcart
method:post
body - {cakeid}

For decreasing quantity     DONE
url - /removeonecakefromcart
method:post
body - {cakeid}

For getting cart items 
url - /cakecart
method:post
body - {}

for placing order 
url - /addcakeorder
method -post
body - {name,address,city,pincode,phone,cakes,price}

for previous orders
url - /cakeorders
method -post
body -{}

image upload api -- 
/upload
images are sent into form data 
key of form data - file 

 for adding a new cake 
url - /addcake
method -post
bpdy -- {
    name,
    price,
    description,
    ingredients:[],
    image: url coming from server 
    type,
    weight
    eggless
} -->